body
{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}   
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 50px;
    padding: 60px 110px;
}
.Welcome {
    max-width: 600px;
    text-align: left;
    padding: 10px;
}
.Welcome h1 {
    font-size: 36px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 40px;

}
.Welcome h2 {
    display: flex;
    align-items: center;  
    gap: 5px;  
    padding-bottom: 5px;            

}

.Welcome h2 img {
    width: 22px;
    height: 22px;
    
}
.container {
  font-family: Arial, sans-serif;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


.email-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border: 2px solid #000;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-radius: 999px;
    transition: all 0.3s ease;
}
.email img {
    width: 20px;
    height: 22px;
}

.email-btn:hover {
    background-color: rgb(3, 255, 112);
    color: black;
     transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}


b {
    color: #000;
}
hr {
    color: black;
}
    .profile {
    position: relative;
    width: 200px;
    height: 220px;
    gap: 10px;
}

  .profile img {
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    background-color: white;
}
.top-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.profile:hover .top-img {
    opacity: 1;
}

.edu-about-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;   
  gap: 40px;
}

.card-container {
    display: flex;
  order: 2;
  
}
.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.card-content { 
    padding: 15px;
    line-height: 1.5;
    margin-right: 200px;
    
}

.card-content h1 {
    font-size: 24px;
    margin-bottom: 12px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
}

.card-content img {
    width: 28px;
    height: 28px;
}

.date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #555;
}
.cardabout {
  flex: 1;
 order: 1;
 width: 200px;
 margin-left: 100px;
}

.card-infoabout {
  background: #ffffff;
  width: 100%;
  max-width: 650px; 
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card-infoabout:hover {
  transform: translateY(-12px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.23);
}

.card-infoabout h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.card-infoabout p {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}
    .projects {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0; 
   transition: transform 0.3s ease, box-shadow 0.3s ease; 
   margin-bottom: 20px;
    }
.projects-info {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  margin-left: 90px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-info:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}


.gallery-container {
  display: flex;
  flex-direction: row; 
  gap: 0;
  justify-content: center;
  align-items: flex-start;
}

.gallery {
  width: 225px;
  text-align: center;
}

.gallery img {
  width: 100%;
  height: 280px;
  object-fit: contain; 
  background: none;
}

.gallery img {
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}
    .projects-info h1 {
  display: flex;
  align-items: center;  
  gap: 12px;
  font-size: 28px;
  margin-bottom: 25px;
}

    .description {
        display: none;
    }
    .achievements-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  margin-left: 20px;
  max-width: 500px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.achievements-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.achievements-card h1 {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 12px;
  font-size: 26px;
}

.achievement-item {
  display: inline;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
  font-size: 16px;
}
 .skills-certificates {
    display: flex;
    gap: 30px; 
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 90px; 
    flex-wrap: wrap;
}


.skill {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    flex: 2; 
    min-width: 400px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.certificate {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    flex: 1; 
    min-width: 350px;
    height: 350px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate:hover {
    transform: translateY(-20px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

/* Headings */
.skill-info h1, .certificate-info h1 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 36px;
    margin-bottom: 15px;
}

/* Items */
.skill-item {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 12px;
    font-family:  Helvetica, sans-serif;
    margin-top: 10px;
}
.certificate-item, .certificate-info ul {
 display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 18px;
    font-family:  Helvetica, sans-serif;
    margin-top: 10px;
}
/* Individual skill boxes */
.skill-box {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: 2px solid;
    color: black;
    text-decoration: none;
    font-weight: 100;
    border-radius:  15px;
    transition: all 0.3s ease;
}

.skill-box:hover {
    background-color: rgb(106, 100, 100);
    color: black;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
.references-contact {
    display: flex;
    gap: 30px; 
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 80px; 
    flex-wrap: wrap;
} 
.references {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
   width: 930px;        
    flex: none;          
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 40px;
}
.references:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}
.references h1 {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 38px;
}

.references h1 img {
  width: 60px;   
  height: 60px;
}
.references p img {
  width: 22px;  
  height: 22px;
  margin-right: 4px;
  vertical-align: middle;
}
.contactme {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width: 450px;              
  min-height: 400px;        
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
  background: #fff;
  display: flex;             
  flex-direction: column;    
  margin-bottom: 30px;              
}


.contactme:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}
.contactme a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  background: #fafafa;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.contactme a:hover {
     background-color: rgb(3, 255, 112);
  transform: scale(1.05);
}
.copyright {
  text-align: center;
}
/* Tablet & small laptops */
@media (max-width: 1024px) {
  .hero {
    padding: 40px 40px;
    gap: 30px;
  }

  .projects-info,
  .skills-certificates,
  .references-contact {
    margin-left: 0;
  }
}

@media (max-width: 768px) {

  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    gap: 15px;
  }

  .Welcome {
    max-width: 100%;
    text-align: center;
    padding: 0 10px;
  }

  .edu-about-wrapper,
  .projects,
  .skills-certificates,
  .references-contact {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    gap: 15px;
    padding: 0 10px;
  }

  .card-container,
  .cardabout,
  .projects-info,
  .achievements-card,
  .skill,
  .certificate,
  .references,
  .contactme {
    width: 100% !important;
    margin-left: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }

  /* Gallery */
  .gallery-container {
    flex-direction: column;
    align-items: center;
  }

  .gallery {
    width: 90%;
    margin: 0 auto;
  }


  .profile {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .profile img {
    width: 180px;
    height: 200px;
    padding: 10px;
  }

  .email-btn {
    padding: 10px 16px;
  }
}
